body{
	background: black;
}


#container{
	background-color: red;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;

}

.post{
	width: 610px;
	background: white;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	margin-bottom: 20px;
}